*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.navbar{

    
    background-image: url("tree_background\ .jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    
}



nav {
    display: flex;
    width: 89%;
    justify-content: space-around;
    align-items: center;  
    text-align: center; 
    padding-top: 25px;   
    padding-right: 8%;
    padding-left: 8%;
    }

.brand{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
color: rgb(104, 139, 34);
}
.navbar ul{
    display: flex;
    list-style: none; 
    margin: 20px 0px;
    }
    
    .navbar ul li {
        font-family: century;
        font-size: 1.1rem;
        font-weight: bold;
    }
    .navbar ul li a {
        text-decoration: none;
        color:white;
        padding: 8px 25px; 
        transition: all .5s ease;
    }
    .navbar ul li a:hover{
        text-underline-position: below;
        color: red;
        /*background-color: lightgray;
        color:white;
        box-shadow:lightgray;
        */
    }
    
    .intro {
        display: flex;
        flex-direction: column;
       
        align-items: left;
        position: absolute;
        
        top: 42%;
        left: 30%
        
    }
    
    .headings{
        font-family: 'Courier New', Courier, monospace ;
        font-size: 4rem;
        text-align:left;
        margin: 40px 0px;
        color:white;
        top: 50%;
        left: 50%;
    }
    

    /* about section*/

.about{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-color: 	#fff1d1;
}
.about img{
height: auto;
width: 600px;

}
.about-text{
    width: 520px;  
    padding: 80px;
}


.MainContainer{
    /* width: 1330px;
    max-width: 95%; */
    position:static;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}
@media screen and (max-width: 1150px) {
    .MainContainer {
      display: block;
        width: 100%;
        align-items: center;
       
    
    }
  }
.image_IMG{
    display: block;
    width: 100%;
    padding: 50px;
}
.image_overlay{
   
    position: absolute;
    display: block;
    height: 50%;
    width: 50%;
    right: 53.5%;
    width: 600px;
    height: 450px;
    background: rgba(0, 0, 0, .6);
    color: #ffffff; 
    font-family: 'Quicksand',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .25s; 
}
.image_overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;


}
.image_overlay:hover{
    opacity: 1;
}

.image_overlay:hover> *{
    transform: translateY(0);
} 
.image_title{
    font-size: 2em;
    font-weight: bold;
}
.imgage_discription{
    font-size: 1.25em;
    margin-top: .5em;
}
@media screen and (max-width: 850px) {
    .image_overlay{
        left: 10%;
        
    }
} 

.about-text h2{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h4{
color: black;
letter-spacing: 2px;
font-size: 22px;
margin-bottom: 25px;
text-transform: capitalize;
}

.about-text h5{
    color:black;
    text-transform: capitalize;
    font-size: 19px;
    margin-bottom: 5px;
}
.about-text p{
    color:black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.hobbies{
background-color: #fff1d1;
/* padding: 20px; */
position:static;
width: 100%;
/* display: flex;
flex-direction:row; */
align-items: center; 
justify-content: space-around;
}

.title{
    font-size: 70px;
    text-align: center;
    padding-top: 60px; 
    padding-bottom: 60px;
}
.row{
    display: flex;
    justify-content: space-around;
}
.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(104, 139, 34) 50%, white 50% ) ;
    background-size: 100% 200%;
    transition: all .6s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(104, 139, 34);
}
.box p{
font-size: 19px;
margin-bottom: 40px;
line-height: 25px;
}
.heading{
    margin-top: 40px;
    margin-bottom: 40px;
}
.box img{  
    padding-top: 20px;
    width: 80px;
    height: 80px;
}
.body_pics{
    margin-top: 180px;
    display:flex;
    justify-content:space-evenly;
}
.box h1{
    text-align: center;
}
@media screen and (max-width: 850px) {
    .row{
        display: block;
        padding-left: 200px;
    }
}

.BSU_pic img{
width: 500px;
height: auto;
}
.Basketball_pic img{

width: 400px;
height:auto;
}
.YEOC_pic img{
    width: 450px;
    height: auto;
}
@media screen and (max-width: 950px) {
    .body_pics{
        display: block;
        width: 100%;
        /* center my images */
        padding-left: 190px;
    }
}

purp{
    color: purple;
}

